@using ChaldeaCommon.Extensions
@using ChaldeaCommon.Enums

@if (InventoryItems?.Count() > 0)
{
    <table class="table-bordered table-hover">
        <thead>
            <tr>
                <th />
                <th>Material</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in InventoryItems)
            {
                <tr>
                    <td><img src="/Assets/@(item.Key).png" /></td>
                    <td>@item.Key.GetMaterialLabel()</td>
                    <td>
                        <input type="number" class="form-control" value="@item.Value" @onchange="(eventargs) => { OnInventoryUpdated(item.Key, eventargs.Value); }" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public Action<Material, int> UpdateInventory { get; set; }

    [Parameter]
    public IEnumerable<KeyValuePair<Material, int>> InventoryItems { get; set; }

    protected void OnInventoryUpdated(Material item, object quantity)
    {
        if (int.TryParse(quantity.ToString(), out int result))
        {
            UpdateInventory?.Invoke(item, result);

            StateHasChanged();
        }
    }
}