@page "/servants"

@using ChaldeaCommon.Models;
@using ChaldeaOrganizer.Pages.Components;
@using ChaldeaCommon.Interfaces;

@inject IDataService<GameData> GameDataService

<h3>Servants</h3>

<div style="padding:15px">
    <div class="row">
        @if (GameData.Servants != null)
        {
            for (int i = 0; i < GameData.Servants.Count; i++)
            {
                <div class="col-sm-12 col-md-6" style="padding-top:10px; padding-bottom:10px">
                    <ServantComponent
                                      Servant="@GameData.Servants[i]"
                                      Key="@i"
                                      DeleteServant="@RemoveServant"/>
                </div>
            }
        }
    </div>
</div>

@code {
    GameData GameData;

    protected override async Task OnInitializedAsync()
    {
        GameData = await GameDataService.RetrieveData();
    }

    protected void RemoveServant(int index)
    {
        if (index >= 0 && index < GameData.Servants.Count)
        {
            GameData.Servants.RemoveAt(index);

            StateHasChanged();
        }
    }
}
